@model EmployeeManagementSystem.Models.EmployeeModel
<h2>Add Employee</h2>

<form asp-action="Create" method="post">
    <label>Name:</label> <input asp-for="Name" /><br />
    <label>Position:</label> <input asp-for="Position" /><br />
    <label>Department:</label> <input asp-for="Department" /><br />
    <label>Salary:</label> <input asp-for="Salary" /><br />
    <button type="submit">Save</button>
</form>
